//- include/extends ~%PATH% resolves to node_modules/%PATH%
extends ~html-webpack-template-pug/layout.pug

block append content
	h3 htmlWebpackPlugin:
	
	pre= JSON.stringify(htmlWebpackPlugin, null, 2)
	hr

	h3 webpackConfig:

	pre= JSON.stringify(webpackConfig, null, 2)
