extends ../../layout.pug


block defaultHead
	+mobile
	+title
	+favicon
	+injectExtrasHead
	+injectChunk("main", "css")(media="(min-width:200px)")

block defaultBody
	+injectExtrasBody
	+injectChunk(["head", "main"])(async)
