extends ../../layout.pug


block defaultHead
	+mobile
	+title
	+favicon
	+injectExtrasHead
	+injectCSS(media="(min-width:200px)")

block defaultBody
	+injectExtrasBody
	+injectJS(async=true)
	//- or
	//- +injectJS()(async)
	//- can't use +injectJS(async) or async will be passed as an argument, not an attribute
