extends ../../layout.pug


block defaultHead
	+mobile
	+title
	+favicon
	+injectExtrasHead
	+inlineCSS(media="(min-width:200px)")

block defaultBody
	+injectExtrasBody
	+inlineJS(type="text/javascript")
