include ../../mixins.pug

doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		base(href="../assets/page.html")
		
		+title
		//- injects .css files from chunk
		+injectChunk("main", "css")


	body

		h3 htmlWebpackPlugin:
		pre= JSON.stringify(htmlWebpackPlugin, null, 2)
			
		//- injects all files from chunk
		+injectChunk("head")
		
		//- injects .js file from chunk
		+injectChunk("main", "js")
